* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container {
  width: 90%;
  max-width: 350px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  place-content: center;
  margin: 80px 0;
}
body .container__info {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .container__info__titulo {
  text-align: center;
  color: #502050;
  font-weight: 700;
  font-size: 1.5rem;
  width: 70%;
  line-height: 25px;
  margin-bottom: 20px;
}
body .container__info__descripcion {
  text-align: center;
  font-size: 0.9rem;
  line-height: 25px;
  color: #937b92;
  font-weight: 400;
}
body .container__calificaciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 50px;
}
body .container__calificaciones__container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #f7f2f7;
  border-radius: 8px;
  padding: 15px;
}
body .container__calificaciones__container2__estrellas {
  width: 50%;
  background-image: url(../images/icon-star.svg);
  background-repeat: space no-repeat;
  background-size: auto 100%;
  padding: 14px;
  margin-bottom: 20px;
}
body .container__calificaciones__container2__rating {
  font-size: 0.8rem;
  font-weight: 700;
  color: #502050;
}
body .container__opiniones {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
}
body .container__opiniones__smith, body .container__opiniones__wallace, body .container__opiniones__roberts {
  background-color: #502050;
  border-radius: 8px;
  padding: 35px;
  height: max-content;
}
body .container__opiniones__smith__contenedorFotoNombreInsignia, body .container__opiniones__wallace__contenedorFotoNombreInsignia, body .container__opiniones__roberts__contenedorFotoNombreInsignia {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
body .container__opiniones__smith__contenedorFotoNombreInsignia__foto, body .container__opiniones__wallace__contenedorFotoNombreInsignia__foto, body .container__opiniones__roberts__contenedorFotoNombreInsignia__foto {
  border-radius: 50%;
  margin-right: 20px;
  width: 40px;
}
body .container__opiniones__smith__contenedorFotoNombreInsignia__contenedorNombreInsignia, body .container__opiniones__wallace__contenedorFotoNombreInsignia__contenedorNombreInsignia, body .container__opiniones__roberts__contenedorFotoNombreInsignia__contenedorNombreInsignia {
  display: flex;
  flex-direction: column;
}
body .container__opiniones__smith__contenedorFotoNombreInsignia__contenedorNombreInsignia__nombre, body .container__opiniones__wallace__contenedorFotoNombreInsignia__contenedorNombreInsignia__nombre, body .container__opiniones__roberts__contenedorFotoNombreInsignia__contenedorNombreInsignia__nombre {
  font-weight: 700;
  color: white;
  margin-bottom: 3px;
  font-size: 0.9rem;
}
body .container__opiniones__smith__contenedorFotoNombreInsignia__contenedorNombreInsignia__insignia, body .container__opiniones__wallace__contenedorFotoNombreInsignia__contenedorNombreInsignia__insignia, body .container__opiniones__roberts__contenedorFotoNombreInsignia__contenedorNombreInsignia__insignia {
  font-size: 0.9rem;
  color: #ee68a4;
}
body .container__opiniones__smith__opinion, body .container__opiniones__wallace__opinion, body .container__opiniones__roberts__opinion {
  color: white;
  line-height: 25px;
  font-weight: 400;
  font-size: 0.8rem;
}
@media screen and (min-width: 1000px) {
  body {
    background: url(../images/bg-pattern-bottom-desktop.svg) bottom right/100px no-repeat fixed, url(../images/bg-pattern-top-desktop.svg) top left/100px no-repeat;
    height: 100vh;
  }
  body .container {
    width: 75%;
    max-width: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "info calificaciones" "opiniones opiniones";
  }
  body .container__info {
    align-items: flex-start;
    grid-area: info;
    width: 60%;
  }
  body .container__info__titulo {
    text-align: start;
    font-size: 3rem;
    line-height: 45px;
    width: 100%;
  }
  body .container__info__descripcion {
    text-align: start;
  }
  body .container__calificaciones {
    width: 100%;
    grid-area: calificaciones;
    align-items: flex-end;
  }
  body .container__calificaciones__container2 {
    flex-direction: row;
    padding: 20px 30px;
    width: 90%;
  }
  body .container__calificaciones__container2__estrellas {
    width: 150px;
    margin-right: 70px;
    margin-bottom: 0;
  }
  body .container__calificaciones__container2__rating {
    font-size: 1rem;
  }
  body .container__opiniones {
    gap: 30px;
    grid-area: opiniones;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
  body .container__opiniones__roberts {
    margin-top: 20px;
  }
  body .container__opiniones__wallace {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
